body {
    background-color: #404040;
    color: white;
}

#color-picker > .d-flex > * {
    margin-right: 4px;
    margin-bottom: 4px;
}

#color-picker button {
    border: 1px solid white;
    border-radius: 50%;
}
