<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <button onclick="drawOnCanvas()">draw</button><br>
    <img src="{{ img_data }}"/>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('//' + document.domain + ':' + location.port);

        // verify our websocket connection is established
        socket.on('connect', function() {
            console.log('Websocket connected!');
        });

        socket.on('canvas update', function(data) {
            console.log(data);
        });

        // emit a message on the 'draw' channel to draw a random line on the canvas
        function drawOnCanvas() {
          console.log('drawing line...');
          horizontal = Math.random() * 600
          vertical = Math.random() * 550
          for (var i = 0; i < 50; i ++) {
            socket.emit('draw', {pixel: [horizontal, vertical+i], color: [255, 255, 255]});
          }
        }

    </script>
</body>
</html>
